<div id="header">
	<h1>Rails is lyf</h1>
</div>

<div class="simple-calendar">
  <%= month_calendar events: @expenses do |date, expenses| %>
    <h4> <%= date.day %> </h4>
    <div class="click">
      <%#= link_to '<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>'.html_safe, expenses, remote: true %>
    </div>

    <% expenses.each do |expense| %>
      <div><p class="expense">
        <%= expense.name %>:
        <span>
          <% if expense.flow == "Expense" %>
            -<%= expense.value %>
          <% else %>
            +<%= expense.value %>
          <% end %>
        </span>
      </p></div>
    <% end %>
  <% end %>
</div>

<%= render "layouts/modal" %>