<% @expenses.each do |expense|%>

	<% if expense.start_time == @date %>
		<label>Info:</label> <%= expense.name %>
		<label>Type:</label> <%= expense.flow %>
		<label>Value:</label> <%= expense.value %>
		<%= link_to 'Edit', edit_expense_path(expense) %>
		<%= link_to 'Remove', expense, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>

<% end %>
<%#= link_to 'Edit', edit_book_path(@book) %>
<%#= link_to 'Show', @book %>
<%#= link_to 'Remove', @book, method: :delete, data: { confirm: 'Are you sure?' } %>